target/
!.mvn/wrapper/maven-wrapper.jar
!target/classes/META-INF/

### Environment files ###
.env
.env.local
.env.production
!.env.example

### IDE & OS files ###
.idea/
*.iml
.vscode/
.DS_Store
Thumbs.db
